#play{
    margin-left: 450px;
    position: absolute;
    transform: translateY(-50px);
}
body{
    background-color: silver;
    background: url(./png/background.jpg) no-repeat;
    background-size: cover;
}
#description{
    font-size: 3.0em;
    margin-top: 260px;
    position: absolute;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 240px;
    overflow: auto;
    width: 200px;
    border-radius: 5px;
    overflow: visible;
    transform: translateX(-210px) ;
    background-color: rgb(238, 255, 0);
}

.sidebar:hover{
    transform: translateX(1px);
}
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
.sidebar a.play {
    background-color: #4CAF50;
    color: white;
}
.sidebar a:hover:not(.play) {
    background-color: #555;
    color: white;
}
.lll{
    background-color: rgb(86, 0, 246);
    height: 6px;
    width: 30px;
    margin-top: 4px;
    margin-left: 210px;
}
    /* стили для больших планшетов  */
@media screen and (max-width: 991px) {
    
#play{
    margin-left: 450px;
    position: absolute;
}
body{
    background-color: silver;
    background: url(./png/background.jpg) no-repeat;
    background-size: cover;
}
#description{
    font-size: 2.0em;
    margin-top: 220px;
    position: absolute;
}
}
@media screen and (max-width: 767px) {
    #play{
        margin-left: 250px;
        position: absolute;
    }
    html{
        background-color: silver;
        background-image: url(./png/background.jpg);
        background-size: 100%;
    }
    #description{
        font-size: 2.0em;
        margin-top: 220px;
        position: absolute;
    }
}