#logo{
    position: absolute;
    margin-top: 60px;
    transform: translateX(440px);
}
#magictech{
    margin-left: 60px;
    margin-top: 120px;
    position: absolute;
}
#magictech:hover{
    width: 500px;
    height:500px;
    transition: 0.5s;

}
body{
    background: url(./png/background.jpg) no-repeat ;
    background-size: 100%;
}
#nextserver{
    background-color: white;
    width: 400px;
    height:120px;
    margin-left: 650px;
    position: absolute;
    margin-top: 250px;
}
#nextserver:hover{
    width: 500px;
    height:150px;
    transition: 0.5s;
}
#choise{
    font-size: 5.0em;
    font-family: sans-serif;
    text-align: center;
    margin-top: 30px;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 240px;
    overflow: auto;
    width: 200px;
    border-radius: 5px;
    overflow: visible;
    transform: translateX(-210px) ;
    background-color: rgb(238, 255, 0);
}

.sidebar:hover{
    transform: translateX(1px);
}
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
.sidebar a.play {
    background-color: #4CAF50;
    color: white;
}
.sidebar a:hover:not(.play) {
    background-color: #555;
    color: white;
}
.lll{
    background-color: rgb(86, 0, 246);
    height: 5px;
    width: 30px;
    margin-top: 5px;
    margin-left: 210px;
}
/* большые планшеты */ 
@media screen and (max-width: 991px) {
    #logo{
        margin-top: 0px;
        transform: translateY(-50px);
        margin-left: 340px;
    }
    #magictech{
        margin-left: 00px;
        margin-top: 100px;
        position: absolute;

    }
    #magictech:hover{
        width: 400px;
        height:400px;
        transition: 0s;
    }
    body{
        background: url(./png/background.jpg) no-repeat;
        background-size: 100%;
    }
    #nextserver{
        background-color: white;
        width: 290px;
        height:100px;
        margin-left: 550px;
        position: absolute;
        margin-top: 250px;
    }
    #nextserver:hover{
        width: 290px;
        height:100px;
        transition: 0.5s;
    }
    
    #choise{
        font-size: 5.0em;
        font-family: sans-serif;
        text-align: center;
        margin-top: 30px;
    }
    
} 
 /* стили для средних планшетов */
@media screen and (max-width: 767px) {
    #logo{
        margin-left: 250px;
        margin-top: 0px;
        transform: translateY(-15px);

    }
    #magictech{
    margin-left: 50px;
    margin-top: 250px;
    position: absolute;
}
#magictech:hover{
    width: 400px;
    height:400px;
    transition: 0.5s; 

}
body{
    background: url(./png/background.jpg) no-repeat;
    background-size: cover;
}
#nextserver{
    background-color: white;
    width: 250px;
    height:60px;
    margin-left: 450px;
    position: absolute;
    margin-top: 250px;
}
#nextserver:hover{
    width: 250px;
    height:60px;
    transition: 0.5s;
}

#choise{
    font-size: 3.0em;
    font-family: sans-serif;
    text-align: center;
    margin-top: 30px;
}
}
