#visitcard{
    background-color: black;
    width: calc(100% - 300px);
    height: 300px;
    border-radius: 30px;
    color: white;
    padding-left: 40px;
    font-size: 4.0em;
    margin-top: 50px;
    position: absolute;
}
html{
    background-image: url(./фон.jpg);
    background-size: cover ;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: absolute;
    height: 240px;
    overflow: auto;
    width: 200px;
    border-radius: 5px;
    overflow: visible;
    transform: translateX(-210px) ;
    background-color: rgb(238, 255, 0);
}

.sidebar:hover{
    transform: translateX(1px);
}
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.lll{
    background-color: rgb(86, 0, 246);
    height: 6px;
    width: 30px;
    margin-top: 4px;
    margin-left: 210px;
}